<!doctype html>
<html>
<head>
    <title>BER Petition</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div id="header-left">
                <img src="/BER-logo.png">
        </div>
        <div id="equals">=</div>
        <div id="is-bad">
            <div id="bad">BAD</div>
            <div id="bad-text-container">
                <div class="bad-text">BERLIN</div>
                <div class="bad-text">AIRPORT</div>
                <div class="bad-text">DISASTER</div>
            </div>
        </div>
        </div>
    </header>

    {{{body}}}

</body>
</html>
