<!doctype html>
<html>

<head>
    <title>BER Petition</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <div id="ber-logo" class="logo-container">
            <div id="ber" class="logo-initials">BER</div>
            <div id="ber-text-container" class="logo-text-container">
                <div class="logo-text">FLUGHAFEN</div>
                <div class="logo-text">BERLIN</div>
                <div class="logo-text">BRANDENBURG</div>
            </div>
        </div>
        <div id="bad-logo" class="logo-container">
            <div id="bad" class="logo-initials">BAD</div>
            <div id="bad-text-container" class="logo-text-container">
                <div class="logo-text">BERLIN</div>
                <div class="logo-text">AIRPORT</div>
                <div class="logo-text">DISASTER</div>
            </div>
        </div>
    </header>

    {{{body}}}

    <script src="/logo.js" type="text/javascript"></script>
</body>

</html>