<div id="second-header">
    <div id="header-links">
        <a href="/profile/edit">edit profile</a> &vert;
        <a href="/logout">logout</a>
    </div>
</div>

<h1 class="input">Sign the petition and support the cause!</h1>

<div id="signature-container" class="login-container">
    <form method="POST">
        {{#if error}}
        <div class="error blue-text">Please be sure to sign before submitting</div>
        {{/if}}
        <input type="hidden" name="sig" id="sig">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas id="canvas" width="600" height="130"></canvas>
        <div class="blue-text">Sign your name in the space above</div>
        <button type='submit'>SUBMIT</button>
    </form>
</div>

<script src="/signature.js" type="text/javascript"></script>